.fz-1{font-size: 1rem;}
.fz-2{font-size: 2rem;}
.fz-3{font-size: 3rem;}
.fz-4{font-size: 4rem;}

/* Estilo general (para pantallas grandes) */

  
  /* Pantallas muy grandes (desktops grandes) */
  @media only screen and (min-width: 993px) {
    /* body {
      font-size: 20px;
      background-color: rgb(158, 158, 158);
    } */
  }
  
  /* Pantallas de escritorio medianas (laptops) */
  /* @media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
      font-size: 18px;
      background-color: #f00;
    }
  } */
  
  /* Pantallas de tablets en modo horizontal */
  /* @media only screen and  (max-width: 991px) {

    .gtc-2{
      grid-template-columns: 1fr;
    }
    body {
      font-size: 16px;
      background-color: #e55;
    }
  } */
  
  /* Pantallas de tablets en modo vertical */
  /* @media only screen and (min-width: 576px) and (max-width: 767px) {
    body {
      font-size: 14px;
      background-color: #0db107;
    }
  } */
  
  /* Pantallas de móviles */
  @media only screen and (max-width: 992px) {
    /* html{
        font-size:12px;
    }*/
    .gtc-2{
      grid-template-columns: 1fr !important;
    }

      
    body {
      font-size: 16px;
    } 
  }
  